Source: unace
Section: utils
Priority: optional
Maintainer: Guillem Jover <guillem@debian.org>
Build-Depends: debhelper (>= 5), quilt (>= 0.40)
Vcs-Browser: http://svn.debian.org/wsvn/pkg-unace/
Vcs-Svn: svn://svn.debian.org/pkg-unace/trunk/
Standards-Version: 3.7.3

Package: unace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: extract, test and view .ace archives
 The unace utility is used for extracting, testing and viewing
 the contents of archives created with the ACE archiver.

