Source: unace
Section: utils
Priority: optional
Maintainer: Guillem Jover <guillem@debian.org>
Build-Depends: debhelper (>= 7)
Vcs-Browser: http://git.hadrons.org/?p=debian/pkgs/unace.git
Vcs-Git: git://git.hadrons.org/git/debian/pkgs/unace.git
Standards-Version: 3.9.3

Package: unace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: extract, test and view .ace archives
 The unace utility is used for extracting, testing and viewing
 the contents of archives created with the ACE archiver.
