#!/usr/bin/make -f
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH_ENDIAN := $(shell dpkg-architecture -qDEB_HOST_ARCH_ENDIAN)

CPPFLAGS =
ifeq ($(DEB_HOST_ARCH_ENDIAN),little)
CPPFLAGS += -DLO_HI_BYTE_ORDER
else ifeq ($(DEB_HOST_ARCH_ENDIAN),big)
CPPFLAGS += -DHI_LO_BYTE_ORDER
else
$(error "unknown endian")
endif

CFLAGS = -Wall -g

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

Makefile: unix/makefile
	dh_testdir
	cp -f $^ $@

gccmaked: unix/gccmaked
	dh_testdir
	cp -f $^ $@

build-indep:

build-arch: Makefile gccmaked
	dh_testdir
	
	$(MAKE) dep CFLAGS="$(CFLAGS) $(CPPFLAGS)"
	$(MAKE) CFLAGS="$(CFLAGS) $(CPPFLAGS)"

build: build-indep build-arch

.PHONY: build-indep build-arch build

clean:
	dh_testdir
	dh_testroot
	
	[ ! -f Makefile ] || $(MAKE) clean
	rm -f Makefile gccmaked
	
	dh_clean

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/unace
	dh_install

.PHONY: install-arch clean

# Build architecture-independent files here.
binary-indep:
# Nothing to do.

# Build architecture-dependent files here.
binary-arch: install-arch
	dh_testdir
	dh_testroot
	dh_installchangelogs changes.log
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: binary-indep binary-arch binary
